.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;

}

.content .title{
    font-size: 70px;
    margin-top: 70px;
    margin-bottom: -10px;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    margin: 10px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(237, 227, 227);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

 span{
    background: rgb(61, 61, 61);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

/* .slider{
    color: crimson;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
    font-size: 70px;   
}

@keyframes slider{
    0%{ margin-top: -400px;}
    5%{ margin-top: -200px;}
    30%{ margin-top: -200px;}
    35%{ margin-top: 0px;}
    65%{ margin-top: 0px;}
    70%{ margin-top: 200px;}
    100%{ margin-top: 200px;}
    
} */